@import "tailwindcss";
 
@font-face {
  font-family: 'font1';
  src: url('font/National2Compressed-Extrabold.woff2') format('woff2');
  src: url(font/National2Compressed-Extrabold.woff2);
}
@font-face {
  font-family: 'font2';
  src: url('font/InterVariable.woff2');
}