@import "tailwindcss";
 
@font-face {
  font-family: 'font1';
  src: url('public/fonts/OnlineWebFonts_COM_5fd7bfa5cfee13a3f551f6303c779e2e/Fancy Cut Pro/Fancy Cut Pro.ttf') format('woff2');
}
@font-face {
  font-family: 'font2';
  src: url('font/InterVariable.woff2');
}

@keyframes rotateAnimation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.animate-rotate {
  animation: rotateAnimation 1.5s infinite ease-in-out;
}

*{
  font-family: 'font1';
}